/* ----- Global ----- */

.page {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.card {
    width: 300px;
}

.watchlist-adder {
    margin-bottom: 5px;
    margin-left: 165px;
}

.watchlist-remover {
    margin-bottom: 5px;
    margin-left: 220px;
}

.sub-heading {
    text-align: center;
    display: inline-block;
}

/* ----- Home Page ----- */

.jumbotron-home {
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 700px;
    text-align: center;
}

.btn {
    width: 250px;
}

.carousel-banner {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.search-bar {
    width: 92%;
    margin: 0 auto;
}

.watch-display-picture {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 7%;
}

/* ----- View Item Page ----- */

.jumbotron-item {
    background-image: url('../img/banner2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    text-align: center;
}

.modal-search {
    width: 84%;
    margin: 0 auto;
}

.carousel-view-item {
    width: 100%;
    height: 100%;
}

.carousel-inner {
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    border-bottom: 2px;
    border-color: gainsboro;
    border-style: solid;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 0.5px solid gainsboro;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: grey;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: grey;
}

/* ----- Sell Item Page ----- */

.jumbotron-sell {
    background-image: url('../img/banner3.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    text-align: center;
}
